// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.add_movie {
  color: black;
  width: 40vw;
  margin: auto ;
}

.new_bookmark label{
  color: black;
}

.list-name {
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 32px;
}

.delete-bm {
  color: #D89216;
}
